<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PyboardFileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Communication settings to always use.  Leave blank to select at startup -->
    <add key="CommPort" value="" />
    <add key="BaudRate" value="" />
    <add key="DTREnable" value="N" />
    <add key="Wait" value="" />
    <!-- Comma seperated list of com port numbers to ignore -->
    <add key="CommPortExclusions" value="9,10" />
    <!-- Directory used as a cache for files from the device, leave blank to use the EXE path -->
    <add key="SaveDir" value="" />
    <!-- If Y then create a new sub-directory for each run of the application -->
    <add key="UniqueSessions" value="N" />
    <!-- List of text file extensions that will be opened for editing -->
    <add key="EditableExtensions" value="py,txt,html,json,js,css,bat,md" />
    <!-- Full path to Python Executable, leave blank if Python is on the system PATH -->
    <add key="PythonExe" value="" />    
    <!-- Styling of the file list section of the main window -->
    <add key="DirectoryFont" value="Segoe UI" />
    <add key="DirectoryFontSize" value="12" />
    <add key="ExplorerColor" value="0, 0, 64" />
    <add key="DarkMode" value="N" />
    <!-- *************** -->
    <!-- Editor settings -->
    <!-- *************** -->
    <add key="EditorFont" value="Noto Mono" />
    <add key="EditorFontSize" value="10" />
    <add key="Python.Keywords" value="False await else import pass None break except in raise True class finally is return and continue for lambda try as def from nonlocal while assert del global not with async elif if or yield" />
    <add key="Python.Default.ForeColor" value="0, 0, 127" />
    <add key="Python.CommentLine.ForeColor" value="Gray" />
    <add key="Python.CommentLine.Italic" value="Y" />
    <add key="Python.Number.ForeColor" value="0, 127, 127" />
    <add key="Python.String.ForeColor" value="255, 0, 0" />
    <add key="Python.Character.ForeColor" value="255, 0, 0" />
    <add key="Python.Word.ForeColor" value="0, 0, 0" />
    <add key="Python.Word.Bold" value="Y" />
    <add key="Python.Triple.ForeColor" value="127, 0, 0" />
    <add key="Python.TripleDouble.ForeColor" value="127, 0, 0" />
    <add key="Python.ClassName.ForeColor" value="0, 0, 127" />
    <add key="Python.ClassName.Bold" value="Y" />
    <add key="Python.DefName.ForeColor" value="0, 0, 127" />
    <add key="Python.DefName.Bold" value="Y" />
    <add key="Python.Identifier.ForeColor" value="0, 0, 127" />
    <add key="Python.CommentBlock.ForeColor" value="96, 96, 96" />
    <add key="Python.CommentBlock.Italic" value="Y" />
    <add key="Python.StringEol.ForeColor" value="0, 0, 127" />
    <add key="Python.StringEol.BackColor" value="224, 192, 224" />
    <add key="Python.StringEol.Bold" value="Y" />
    <add key="Python.Word2.ForeColor" value="0, 0, 127" />
    <add key="Python.Decorator.ForeColor" value="128, 80, 0" />
    <!-- ************* -->
    <!-- REPL Settings -->
    <!-- ************* -->
    <!-- I = Internal, E = External -->
    <add key="REPL" value="I" />
    <!-- Internal -->
    <add key="TerminalFont" value="Courier New" />
    <add key="TerminalFontSize" value="11" />
    <add key="TerminalBackColor" value="Black" />
    <add key="TerminalForeColor" value="DarkSeaGreen" />
    <!-- External - PuTTY Example -->
    <add key="TerminalApp" value="putty" />
    <add key="TerminalAppArgs" value="-load &quot;repl&quot; -serial {PORT}" />
    <add key="TerminalAppTitle" value="PuTTY" />
    <!-- External - TeraTerm Example 
    <add key="TerminalApp" value="ttermpro.exe"/>
    <add key="TerminalAppArgs" value="/C={PORTNUM}"/>
    <add key="TerminalAppTitle" value="Tera" />
    -->
    <!-- **************************************** -->
    <!-- Configurable items for the help dropdown -->
    <!-- **************************************** -->
    <add key="HelpLinkCount" value="8" />
    <add key="HelpTitle1" value="Fun With MicroPython" />
    <add key="HelpLink1" value="https://wezensky.no-ip.org/fwm" />
    <add key="HelpTitle2" value="Micropython Docs" />
    <add key="HelpLink2" value="https://docs.micropython.org/en/latest/" />
    <add key="HelpTitle3" value="Python 3 Docs" />
    <add key="HelpLink3" value="https://docs.python.org/3/" />
    <add key="HelpTitle4" value="D1 Mini Pinout" />
    <add key="HelpLink4" value="D1MiniMicropythonPins.png" />
    <add key="HelpTitle5" value="NODEMCU Pinout" />
    <add key="HelpLink5" value="NodemcuMicropythonPins.png" />
    <add key="HelpTitle6" value="Raspberry Pi Pico Pinout" />
    <add key="HelpLink6" value="Pico-R3-SDK11-Pinout.png" />
    <add key="HelpTitle7" value="Pyboard v1.1 Pinout" />
    <add key="HelpLink7" value="pybv11-pinout.jpg" />
    <add key="HelpTitle8" value="TPYBoard Pinout" />
    <add key="HelpLink8" value="tpy-board.png" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <PyboardFileManager.Properties.Settings>
      <setting name="HelpTop" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="REPLTop" serializeAs="String">
        <value>160</value>
      </setting>
      <setting name="REPLLeft" serializeAs="String">
        <value>160</value>
      </setting>
      <setting name="HelpLeft" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="SplitterWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="REPLHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="REPLWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="HelpHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="HelpWidth" serializeAs="String">
        <value>800</value>
      </setting>
    </PyboardFileManager.Properties.Settings>
  </userSettings>
</configuration>